extends extends/_layout

block body
	.example-projects
		.example-header
			.example-header__top
				.example-header__bg(style="background-image: url(images/example-logo.png)")
				.row
					.col-12
						h1.example-header__title Название проекта
						
			.row
				.col-12
					.example-header__bottom
						.example-card.example-card--offset
							.example-card__image(style="background-image: url(images/example-logo.png)")
							.example-card__content
								.example-card__caption 7 страниц
								-var date = new Date()
								span Обновлено #{date.getDate()}.#{date.getMonth()}.#{date.getFullYear()} / #{date.getHours()}.#{date.getMinutes()}
						//- только для администратора
						//- a.example-nav(href="index-projects.html") Назад к проектам
		div
			.row
				.col-12
					h2.h1.mt0 Страницы
					p.example-subcaption Для перехода к странице кликните по ссылкам ниже
					h3.example-caption Стили
			ul.example-list
				li: a.example-list__link(href="_style-guide.html") Страница стилей #[span.example-copy.js-copy-link]
			.row
				.col-12
					h3.example-caption Список страниц
			ul.example-list
				li: a.example-list__link(href="main.html") Главная #[span.example-copy.js-copy-link]
				li: a.example-list__link(href="404.html") 404 #[span.example-copy.js-copy-link]
				//- можно делать вложенную структуру
				//-li
					a.example-list__link(href="#") Главная #[span.example-copy.js-copy-link]
					ul.example-list
						li: a.example-list__link(href="#") Главная #[span.example-copy.js-copy-link]